* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #666;
  background-color: #fff;
}

header {
  height: 100px;
  width: auto;
  background-color: #666;
}

main {
  height: 200vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: auto;
}

.title {
  padding-bottom: 50px;
}

.search {
  background-color: blue;
  height: 50px;
  width: 400px;
  position: absolute;
}

.lowongan {
  margin-top: 300px;
}

footer {
  height: 250px;
  width: auto;
  background-color: rgb(39, 37, 37);
}

body {
  margin: 0;
  padding: 0;
  background-color: #b2e0df;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background: #fff;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container:hover > .search-input {
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
